Repository acm-ucr/bitByBIT, pull requests merged in 2023-05, with the labels that each got.

#170 Sign Out Button
  components/Navigation.jsx
Labels: Ready for Review, Navigation

#171 Remove problem link
  components/Navigation.jsx
Labels: Ready for Review, Navigation

#172 Make Username Editable
  components/Profile.jsx
Labels: Ready for Review, Profile

#177 Language Selector
  components/LanguageSelector.jsx
Labels: Problems

#173 Reduced Spacing
  components/Profile.jsx
Labels: Ready for Review, Profile

#178 Populate Values with User Context
  components/ProblemsSolved.jsx
  firebase.js
  pages/dashboard.js
  pages/profile.js
Labels: Profile

#175 Filters
  components/ProblemsSolved.jsx
  components/Profile.jsx
  pages/dashboard.js
Labels: Dashboard, Ready for Review

#179 Code Context
  components/CodeContext.jsx
  components/CodeEditor.jsx
  components/ProblemsSolved.jsx
  components/Profile.jsx
  components/UserContext.jsx
  pages/_app.js
  pages/profile.js
Labels: Problems

#176 Prevented vertical screen scrolling
  pages/profile.js
Labels: Ready for Review, Profile

#193 Fix Image Aspect Ratio
  components/Profile.jsx
Labels: Ready for Review, Profile

#192 Make Input Field Responsive
  components/Profile.jsx
Labels: Ready for Review, Profile

#194 Code Mirror
  components/CodeEditor.jsx
  package-lock.json
  package.json
Labels: Ready for Review, Problems

#195 Fix Up UpdateProfile API Call
  components/Profile.jsx
  pages/api/updateUserInfo.js
Labels: Do Not Merge, Profile

#196 fixed the Default message to shor current username
  components/Profile.jsx
Labels: Ready for Review, Profile

#198 add signout
  components/Navigation.jsx
  firebase.js
Labels: Ready for Review, Navigation

#197 Implement Dividers
  components/CodeEditor.jsx
  pages/api/updateUserInfo.js
  pages/problems/[id].js
Labels: Ready for Review, Problems

#200 fixed refresh bug
  pages/problems/[id].js
Labels: Ready for Review, Problems

#205 Reduce to Login
  components/Welcome.jsx
Labels: Landing, Ready for Review

#207 Fixed width sizes
  pages/dashboard.js
  pages/profile.js
Labels: Dashboard, Ready for Review, Profile

#206 Language Selector Overlap
  components/LanguageSelector.jsx
Labels: Ready for Review, Problems

#214 Removed vertical scrolling
  components/Layout.jsx
  components/Problems.jsx
Labels: Dashboard, Ready for Review

#218 Removed border radius
  pages/problems/[id].js
Labels: Ready for Review, Problems

#217 Fixed apply styling
  pages/dashboard.js
Labels: Dashboard, Ready for Review

#222 Fixed Background Colors
  components/CodeEditor.jsx
  components/Console.jsx
  components/ProblemDescription.jsx
Labels: Problems

#230 fixed auth flow
  components/Navigation.jsx
  pages/_app.js
Labels: Landing, Ready for Review

#231 Sreeja/console
  components/Problems.jsx
  pages/problems/[id].js
Labels: Ready for Review, Problems

#233 Auto changes to results when submit is pressed
  components/Console.jsx
Labels: Ready for Review, Problems

#232 Fixed difficulty coloring
  components/data/Problems.jsx
Labels: Ready for Review, Profile

#234 Fixed difficulty styling
  components/ProblemDescription.jsx
  components/ProgrammingProblem.jsx
  components/data/Problems.jsx
Labels: Dashboard, Do Not Merge

#236 Move Profile Next to Sign-Out
  components/Navigation.jsx
Labels: Ready for Review, Navigation

#235 Fixed apply button with no filters selected
  pages/dashboard.js
Labels: Dashboard, Ready for Review

#239 Removed Hover Effect
  components/ProgrammingProblem.jsx
Labels: Dashboard, Ready for Review

#238 Integrated Problems into Dashboard
  components/Problems.jsx
  pages/dashboard.js
Labels: Dashboard, Ready for Review, Problems
